
/*** webkit ***/  
/*滚动条整体*/
::-webkit-scrollbar{
  width:10px; /*滚动条宽度*/
}
/*滚动条按钮*/
/* ::-webkit-scrollbar-button {

} */
/* 滑道 */
::-webkit-scrollbar-track{
  background-color:#F3F3F3;
}
/* ::-webkit-scrollbar-track-piece{
  background-color:#F3F3F3;
} */

/*横竖滚动条交角*/
/* ::-webkit-scrollbar-corner {
  background-color: #F3F3F3;
} */
/*横竖滚动条交角图案*/
/* ::-webkit-resizer {
  background-repeat: no-repeat;
  background-position: bottom right;
} */
/*滚动条*/
::-webkit-scrollbar-thumb{
  background-color:#d3d3d3;
  /* border:solid 1px #C0C0C0; */
}
::-webkit-scrollbar-thumb:hover{
  background-color:#c9c9c9;
}
::-webkit-scrollbar-thumb:active{
  background-color:#bbb;
}