
.button {
    border: 0;
    color: #fff;
    font-size: 16px;
    background-color: #16B3ED;
    padding: 0 30px;
    display: inline-block;
    &:active {
        background-color: #16B3ED;
        color: #0880D7;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
        text-decoration: none;
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    }
}

