/*图片放大*/
.picture-zoom{
  &{
    position: relative;
    width: 320px;
    height: 600px;

    overflow: hidden;
    background-color: #000;
  }

  img{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
  }
}
.picture-zoom.picture-zoom-popup{
  &{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    width:auto;
    height:auto;

    transition: 0.3s ease;
    opacity: 0;
    pointer-events: none;


  }
  &.show{

    opacity: 1;
    pointer-events: auto;
  }

  .confirm-btn,
  .cancel-btn{
    position: absolute;
    left: 16px;
    top: 10px;
    border: 1px solid #fff;
    padding: 4px;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    z-index: 1;
  }

  .confirm-btn{
    left: auto;
    right: 16px;
  }
}
