/*
  <div class="btn-bar-s1">
    <div class="btn">全学科<i></i></div>
    <div class="btn unfold">全学科<i></i></div>
    <div class="btn time">全学科<i></i></div>
  </div>
*/
.btn-bar-s1{

  background-color: #fff;
  height: 42px;
  .btn{
    height: 42px;
    padding: 13px;
    box-sizing: border-box;
    float: left;
  }
  i:after{
    content: '\E600';
    font-family: 'iconfont';
    font-style: normal;
    display: inline-block;
    padding: 0 4px;
    color: #c6c6c6;
    transform: rotate(180deg);
    font-size: 12px;
    vertical-align: 1px;
  }
  .btn.unfold i:after {
    transform: rotate(0deg);
  }
  .time{
    float: right;
  }
}
