/*
  <div class="tab-btn-bar-s1">
    <ul>
      <li class="selected"><a>教辅</a></li>
      <li><a>智能硬件</a></li>
      <li><a>系统</a></li>
    </ul>
  </div>
*/

.tab-btn-bar-s1{
  padding: 0 60px;
  font-size: 15px;
  ul {
    display: flex;
  }

  li {
    flex: 1;
    text-align: center;
    color: #666;
    height: 40px;
    box-sizing: border-box;
  }

  a {
    display: inline-block;
    height: 40px;
    padding: 13px 16px 0;
    box-sizing: border-box;

  }

  li.selected {
    a {
      color: #12b7f5;
      border-bottom: 2px solid #12b7f5;
    }
  }
}
